*.csv
*.out.*
*.output.*
*.pfidb
*.pfb.dist
*_output.*
*.dat.[0-9]*

Flow_Barrier_X.sa
Flow_Barrier_Y.sa
tcl/clm/eflx_lh_tot/
tcl/clm/eflx_lwrad_out/
tcl/clm/eflx_sh_tot/
tcl/clm/eflx_soil_grnd/
tcl/clm/qflx_evap_grnd/
tcl/clm/qflx_evap_soi/
tcl/clm/qflx_evap_tot/
tcl/clm/qflx_evap_veg/
tcl/clm/qflx_infl/
tcl/clm/qflx_top_soil/
tcl/clm/qflx_tran_veg/
tcl/clm/swe_out/
tcl/clm/t_grnd/
python/test_output/
!correct_output/clm_output/*
!tcl/washita/tcl_scripts/correct_output/*
!input/*