*.csv
*.out.*
*.output.*
*.pfidb
*.pfb.dist
*_output.*
*.dat.[0-9]*

Flow_Barrier_X.sa
Flow_Barrier_Y.sa
clm/eflx_lh_tot/
clm/eflx_lwrad_out/
clm/eflx_sh_tot/
clm/eflx_soil_grnd/
clm/qflx_evap_grnd/
clm/qflx_evap_soi/
clm/qflx_evap_tot/
clm/qflx_evap_veg/
clm/qflx_infl/
clm/qflx_top_soil/
clm/qflx_tran_veg/
clm/swe_out/
clm/t_grnd/
