.*.swp
build/

# Test outputs
test/**/*.pfb
test/**/*.pfidb
test/**/*.pfb.dist
test/**/*.silo
test/**/*.out*
test/*.bootmc
test/.hostfile
test/clm/*.bootmc
test/clm/.hostfile
test/clm/clm_output.txt.*
test/clm/diag_out/
test/clm/drv_clmin.dat.*
test/clm/drv_vegm.dat.*
test/clm/eflx_lh_tot/
test/clm/eflx_lwrad_out/
test/clm/eflx_sh_tot/
test/clm/eflx_soil_grnd/
test/clm/qflx_evap_grnd/
test/clm/qflx_evap_soi/
test/clm/qflx_evap_tot/
test/clm/qflx_evap_veg/
test/clm/qflx_infl/
test/clm/qflx_top_soil/
test/clm/qflx_tran_veg/
test/clm/swe_out/
test/clm/t_grnd/


# Created by https://www.gitignore.io

### Fortran ###
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


### C++ ###
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


### C ###
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

### Emacs ###
*~
\#*\#
