#!/bin/sh
#BHEADER***********************************************************************
# (c) 1995   The Regents of the University of California
#
# See the file COPYRIGHT_and_DISCLAIMER for a complete copyright
# notice, contact person, and disclaimer.
#
# $Revision: 1.1.1.1 $
#EHEADER***********************************************************************

#=============================================================================
#
# Configuration file for Alpha with no MP systems
#
#=============================================================================

PFTOOLS_INCLUDE="-I/usr/local/apps/netcdf/include -I/usr/local/include"
PFTOOLS_LIBS="-lm -L/usr/local/lib/tcl7.5/ -ltk4.1 -ltcl7.5 -lX11 -lm"
PFTOOLS_DEF="-DTOOLS_BYTE_SWAP -DAMPS_SPLIT_FFILE"
PFTOOLS_MAKE="gmake"

#=============================================================================
#
# ParFlow
#
#=============================================================================

PF_MAKE="gmake -j 4"

PF_NODE_DEBUG="-warnproto -g -trapuv -readonly_strings -DAMPS_STDOUT_NOBUFF "

PF_NODE_OPT="-DDEC_ALPHA_COMPILER_HACK -assume noaccuracy_sensitive -tune host -O4 -Olimit 2000"

PF_NODE_DEF="-DAMPS_MPI_PACKAGE_LOWSTORAGE -DPF_MEMORY_ALLOC_CHECK -DAMPS_PRINT_HOSTNAME -DCPUTiming -std1 -DAMPS_SPLIT_FFILE"

PF_NODE_F77_OPT="-fast -O4 -tune host"

PF_NODE_LIBS="-lm"


