#!/bin/sh
#BHEADER***********************************************************************
# (c) 1995   The Regents of the University of California
#
# See the file COPYRIGHT_and_DISCLAIMER for a complete copyright
# notice, contact person, and disclaimer.
#
# $Revision: 1.1.1.1 $
#EHEADER***********************************************************************

#=============================================================================
#
# Configuration file for Linux systems
#
#=============================================================================

PFTOOLS_INCLUDE="-I/usr/X11R6/include/"

# Need to link to the tk/tcl libs
# tk/tcl libs need X11 and dynamic link stuff in dl
#
PFTOOLS_SHLIB_LD="ld -shared"
PFTOOLS_LIBS="-lc -lm -ltcl -ltcl -L/usr/X11R6/lib -lX11 -ldl"
PFTOOLS_DEF=" -DAMPS_SPLIT_FFILE -DTOOLS_BYTE_SWAP -DAMPS_PRINT_HOSTNAME"

#=============================================================================
#
# ParFlow
#
#=============================================================================
#
# MPICH: 
#     Make sure mpich is the mpi in your path
#

export MPIHOME=/usr/local

PF_NODE_CC="gcc"
PF_NODE_LINK="gcc"
PF_NODE_F77="gfortran"
PF_NODE_F90="gfortran"


PFTOOLS_SHLIB_LD="ld -dylib"
PFTOOLS_SHLIB_LIBS="-ltcl -lc"
PFTOOLS_SHLIB_SUFFIX=".dylib"

PF_NODE_TIMING="-DPF_TIMING"

PF_NODE_DEF="-g -DAMPS_BYTE_SWAP -DAMPS_MPICH -DAMPS_SPLIT_FFILE -DAMPS_MPI_SETHOME -I$MPIHOME/include -DAMPS_PRINT_HOSTNAME"

PF_NODE_LIBS="-lmpi -lgfortran"

SUNDIALS_LIBS="-lsundials_kinsol"

#=============================================================================
#
# Tex
#
#=============================================================================
export TEXINPUTS=:$PARFLOW_SRC/docs/lib//

export PFTOOLS_SHLIB_SUFFIX

export PF_TOOLS_SHLIB_LIBS SUNDIALS_LIBS
