#!/bin/sh
#BHEADER***********************************************************************
# (c) 1995   The Regents of the University of California
#
# See the file COPYRIGHT_and_DISCLAIMER for a complete copyright
# notice, contact person, and disclaimer.
#
# $Revision: 1.1.1.1 $
#EHEADER***********************************************************************

#=============================================================================
# Defaults for everything
#
# If user does not set these in a configuration file then these values
# will be used.
#=============================================================================

#=============================================================================
#
# Commands
#
#=============================================================================
PF_INSTALL="cp -p"
PF_MKDIR="mkdir"

export PF_MKDIR PF_INSTALL 


#=============================================================================
#
# SUNDIALS, KINSOL
#
#=============================================================================
echo "Perform default configuration"

SUNDIALS_DIR="$PARFLOW_SRC/sundials"
SUNDIALS_INC_DIR="$SUNDIALS_DIR/include -I$SUNDIALS_DIR/include/kinsol -I$SUNDIALS_DIR/include/sundials"
SUNDIALS_LIB_DIR="$SUNDIALS_DIR/lib"

export SUNDIALS_DIR SUNDIALS_INC_DIR SUNDIALS_LIB_DIR

#=============================================================================
#
# Tools Config Variables
#
#=============================================================================

PFTOOLS_INCLUDE=""
PFTOOLS_LIBS="-lm"
PFTOOLS_LINK=""
PFTOOLS_DEF=""
PFTOOLS_OPT="-O"
PFTOOLS_DEBUG="-g"
PFTOOLS_MAKE="make"
PFTOOLS_CC="cc"
PFTOOLS_F77="f77"
PFTOOLS_SHLIB_CFLAGS=""
# Warning:
# This will almost always need to be set; but there is no standard 
PFTOOLS_SHLIB_LD="ld"
PFTOOLS_SHLIB_LIBS=""
PFTOOLS_SHLIB_SUFFIX=".so"
export PFTOOLS_INCLUDE PFTOOLS_LIBS PFTOOLS_LINK PFTOOLS_DEF PFTOOLS_OPT PFTOOLS_DEBUG
export PFTOOLS_MAKE PFTOOLS_CC PFTOOLS_F77
export PFTOOLS_SHLIB_CFLAGS PFTOOLS_SHLIB_LD PFTOOLS_SHLIB_SUFFIX 
export PFTOOLS_SHLIB_LIBS

#=============================================================================
#
# AVS
#
#=============================================================================

PFAVS_CC="cc"
PFAVS_MAKE="make"
PFAVS_PATH=""
PFAVS_DEF=""
PFAVS_IMAGE_TOOLS_INCLUDE_PATH=""
PFAVS_IMAGE_TOOLS_LIB_PATH=""
export PFAVS_CC PFAVS_MAKE
export PFAVS_DEF
export PFAVS_CC PFAVS_PATH
export PFAVS_IMAGE_TOOLS_INCLUDE_PATH PFAVS_IMAGE_TOOLS_LIB_PATH

#=============================================================================
#
# Express
#
#=============================================================================

PFEXPRESS_VXP=""
PFEXPRESS_PATH=""
export PFEXPRESS_VXP PFEXPRESS_PATH

#=============================================================================
#
# Explorer
#
#=============================================================================

PFEXP_CXMKMF=""
PFEXP_MAKE="make"
PFEXP_EXPLORERHOME=""
export PFEXP_CXMKFM PFEXP_EXPLORERHOME PFEXP_MAKE


#=============================================================================
#
# ParFlow
#
#=============================================================================

PF_NODE_CC="cc"
PF_NODE_DEF=""
PF_NODE_OPT="-O"
PF_NODE_DEBUG="-g"
PF_NODE_PROF="-p"
PF_NODE_TIMING="-DPF_TIMING"
PF_NODE_F77="f77"
PF_NODE_F90=""
PF_NODE_F77_DEF=""
PF_NODE_F77_OPT="-O"
PF_NODE_F77_DEBUG="-g"
PF_NODE_F77_PROF="-p"
PF_NODE_F77_TIMING="-DPF_TIMING"
PF_NODE_LINK="cc"
PF_NODE_LINK_DEF=""
PF_NODE_LINK_OPT=""
PF_NODE_LINK_DEGUG=""
PF_NODE_LINK_PROF="-p"
PF_NODE_LINK_TIMING=""
PF_NODE_LIBS=""
PF_NODE_AR="ar"
PF_NODE_RANLIB="ranlib"

export PF_NODE_TIMING
export PF_NODE_CC PF_NODE_OPT PF_NODE_DEBUG PF_NODE_PROF 
export PF_NODE_DEF PF_NODE_F77_DEF
export PF_NODE_F90 PF_NODE_F77 PF_NODE_F77_OPT PF_NODE_F77_DEBUG PF_NODE_F77_PROF
export PF_NODE_LINK PF_NODE_LINK_OPTS PF_NODE_LIBS PF_NODE_AR PF_NODE_RANLIB 

PF_HOST_CC="cc"
PF_HOST_DEF=""
PF_HOST_OPT="-O"
PF_HOST_DEBUG="-g"
PF_HOST_PROF="-p"
PF_HOST_F77="f77"
PF_HOST_F77_OPT="-O"
PF_HOST_F77_DEBUG="-g"
PF_HOST_F77_PROF=""
PF_HOST_LINK="cc"
PF_HOST_LINK_DEF=""
PF_HOST_LIBS=""
PF_HOST_AR="ar"
PF_HOST_RANLIB="ranlib"

export PF_HOST_CC PF_HOST_OPT PF_HOST_DEBUG PF_HOST_PROF 
export PF_HOST_DEF
export PF_HOST_F77 PF_HOST_F77_OPT PF_HOST_F77_DEBUG PF_HOST_F77_PROF
export PF_HOST_LINK PF_HOST_LINK_DEF PF_HOST_LIBS PF_HOST_AR PF_HOST_RANLIB 

PF_MAKE="make"
export PF_MAKE
