#!/bin/sh
#BHEADER***********************************************************************
# (c) 1995   The Regents of the University of California
#
# See the file COPYRIGHT_and_DISCLAIMER for a complete copyright
# notice, contact person, and disclaimer.
#
# $Revision: 1.1.1.1 $
#EHEADER***********************************************************************

#=============================================================================
#
# Configuration file for Irix systems
#
#=============================================================================

PFTOOLS_INCLUDE="-I/usr/local/include -I/usr/local/parflow/include"
PFTOOLS_LIBS="-L/usr/local/parflow/lib -lm -ltk4.2 -ltcl7.6 -lX11 -lm"
PFTOOLS_DEF="-DAMPS_SPLIT_FFILE"

#=============================================================================
#
# AVS
#
#=============================================================================

PFAVS_PATH=$AVS_PATH
PFAVS_IMAGE_TOOLS_INCLUDE_PATH="-I/usr/local/include"
PFAVS_IMAGE_TOOLS_LIB_PATH="-L/usr/local/lib"

#=============================================================================
#
# Explorer
#
#=============================================================================

PFEXP_CXMKMF="$EXPLORERHOME/bin/cxmkmf"
PFEXP_EXPLORERHOME="$EXPLORERHOME"

#=============================================================================
#
# ParFlow
#
#=============================================================================

#
# If the user is using Malloc debug then link to it.
#
if [ -z "$MALLOC_DEBUG" ]
then
	PF_NODE_DEF="-DAMPS_SPLIT_FFILE"
	PF_NODE_LIBS="-lm -lmpc -LF77"
else
	PF_NODE_DEF="-I/usr/local/include -DAMPS_MALLOC_DEBUG -DAMPS_SPLIT_FFILE"
	PF_NODE_LIBS="-lm -lmpc -LF77 -L/usr/local/lib/ -lgmalloc"
fi
