#!/bin/sh
#BHEADER***********************************************************************
# (c) 1995   The Regents of the University of California
#
# See the file COPYRIGHT_and_DISCLAIMER for a complete copyright
# notice, contact person, and disclaimer.
#
# $Revision: 1.1.1.1 $
#EHEADER***********************************************************************

#=============================================================================
#
# Configuration file for Linux systems
#
#=============================================================================

PFTOOLS_INCLUDE="-I/usr/X11R6/include/"

# Need to link to the tk/tcl libs
# tk/tcl libs need X11 and dynamic link stuff in dl
#
PFTOOLS_SHLIB_LD="ld -shared"
PFTOOLS_LIBS="-lc -lm -ltcl -ltcl -L/usr/X11R6/lib -lX11 -ldl"
PFTOOLS_DEF=" -DAMPS_SPLIT_FFILE -DTOOLS_BYTE_SWAP -DAMPS_PRINT_HOSTNAME"

#=============================================================================
#
# ParFlow
#
#=============================================================================
#
# MPICH: 
#     Make sure mpich is the mpi in your path
#

export MPIHOME=/usr/local

PF_NODE_CC="mpicc"
PF_NODE_LINK="mpicc"
PF_NODE_F77="mpif77"
PF_NODE_F90="mpif90"

PF_NODE_TIMING="-DPF_TIMING"

PF_NODE_DEF="-g -DAMPS_BYTE_SWAP -DAMPS_MPICH -DAMPS_SPLIT_FFILE -DAMPS_MPI_SETHOME -I$MPIHOME/include -DAMPS_PRINT_HOSTNAME"

#=============================================================================
#
# Tex
#
#=============================================================================
export TEXINPUTS=:$PARFLOW_SRC/docs/lib//

#=============================================================================
#
# Cluster
#
#=============================================================================

CLUSTER="`/bin/hostname`"
export CLUSTER

case "$CLUSTER" in
        mcr*) 
             PF_NODE_CC="mpiicc"
             PF_NODE_LINK="mpiicc"
             PF_NODE_F77="ifort"
             PF_NODE_F90="ifort"
          
             PFTOOLS_SHLIB_LD="icc -shared"
             PFTOOLS_SHLIB_LIBS="/usr/gapps/silo/4.4.3/chaos_2_ia32_elan3/lib/libsilo.a"
             PFTOOLS_CC="icc"
             
             #SUNDIALS_LIBS="-lsundials_kinsol -lsundials_nvecparallel"
             SUNDIALS_LIBS="-lsundials_kinsol"

             PF_NODE_LINK_OPT="$PF_NODE_LINK_OPT"
             ;;
        zeus*)
             PF_NODE_CC="mpiicc"
             PF_NODE_LINK="mpiicc"
             PF_NODE_F77="ifort"
             PF_NODE_F90="ifort"
 
             #PFTOOLS_SHLIB_LD="icc -shared"
             #PFTOOLS_SHLIB_LIBS="/usr/gapps/silo/4.4.3/chaos_2_ia64_elan4/lib/libsilo.a"
             PFTOOLS_CC="icc"
             PFTOOLS_DEF="$PFTOOLS_DEF -fPIC"
 
             #SUNDIALS_LIBS="-lsundials_kinsol -lsundials_nvecparallel"
             SUNDIALS_LIBS="-lsundials_kinsol"
 
             PF_NODE_LINK_OPT="$PF_NODE_LINK_OPT"
             ;;
        thunder*)
             PF_NODE_CC="mpiicc"
             PF_NODE_LINK="mpiicc"
             PF_NODE_F77="ifort"
             PF_NODE_F90="ifort"

             PFTOOLS_SHLIB_LD="icc -shared"
             PFTOOLS_SHLIB_LIBS="/usr/gapps/silo/4.4.3/chaos_2_ia64_elan4/lib/libsilo.a"
             PFTOOLS_LINK="$PFTOLLS_LINK -L/usr/lib/gcc-lib/ia64-redhat-linux/3.2.3  -lgcc"
             PFTOOLS_CC="icc"
             
             SUNDIALS_LIBS="-lsundials_kinsol"
             ;;
        h2o*)
             PF_NODE_CC="mpicc"
             PF_NODE_LINK="mpicc"
             PF_NODE_F77="ifort"
             PF_NODE_F90="ifort"

             SUNDIALS_LIBS="-lsundials_kinsol"

	     PF_NODE_LIBS="-lifcore"
	     ;;
        atlas*)
             PF_NODE_CC="mpicc"
             PF_NODE_LINK="mpicc"
             PF_NODE_F77="gfortran"
             PF_NODE_F90="gfortran"
	     PF_NODE_LIBS="-lgfortran"

             PFTOOLS_CC="gcc -fPIC"

             SUNDIALS_LIBS="-lsundials_kinsol"
             ;;
        tux*)
	     PF_NODE_CC="mpicc"
	     PF_NODE_LINK="mpicc"
	     PF_NODE_F77="mpif77"

	     PFTOOLS_SHLIB_LD="ld -shared"

             PFTOOLS_INCLUDE="-I/usr/casc/eciton/tcl/tcl8.4.19/include -I/usr/casc/eciton/tcl/tk8.4.19/include -I/usr/X11R6/include/"

	     PFTOOLS_LIBS="-lc -lm -L/usr/casc/eciton/tcl/tcl8.4.19/lib -ltcl8.4 -L/usr/X11R6/lib -lX11 -ldl"
	     PFTOOLS_DEF=" -DAMPS_SPLIT_FFILE -DTOOLS_BYTE_SWAP -DAMPS_PRINT_HOSTNAME"

	     PF_NODE_DEF="-g -DAMPS_BYTE_SWAP -DAMPS_MPICH -DAMPS_SPLIT_FFILE -DAMPS_MPI_SETHOME -DAMPS_PRINT_HOSTNAME"
	     PF_NODE_LIBS="-lgfortran"
	     export TEXINPUTS=:/home/smithsg/parflow/parflow/src/docs/lib//

	     SUNDIALS_LIBS="-lsundials_kinsol"
	     ;;
esac

export PF_TOOLS_SHLIB_LIBS SUNDIALS_LIBS
