#!/bin/sh
#BHEADER***********************************************************************
# (c) 1995   The Regents of the University of California
#
# See the file COPYRIGHT_and_DISCLAIMER for a complete copyright
# notice, contact person, and disclaimer.
#
# $Revision: 1.1.1.1 $
#EHEADER***********************************************************************

#=============================================================================
#
# Configuration file for Linux sequential systems
#
#=============================================================================

#=============================================================================
#
# PFtools
#
#=============================================================================

PFTOOLS_INCLUDE="-I/usr/X11R6/include/"

# Need to link to the tk/tcl libs
# tk/tcl libs need X11 and dynamic link stuff in dl
#
PFTOOLS_SHLIB_LD="ld -shared"
PFTOOLS_LIBS="-lc -lm -ltcl -ltcl -L/usr/X11R6/lib -lX11 -ldl"
PFTOOLS_DEF=" -DAMPS_SPLIT_FFILE -DTOOLS_BYTE_SWAP -DAMPS_PRINT_HOSTNAME"

#=============================================================================
#
# ParFlow
#
#=============================================================================

PF_NODE_CC="gcc"
PF_NODE_LINK="gcc"
PF_NODE_F77="g77"

PFTOOLS_INCLUDE="-I/usr/X11R6/include/"

# Need to link to the tk/tcl libs
# tk/tcl libs need X11 and dynamic link stuff in dl
#
PF_NODE_DEBUG="-g -DAMPS_STDOUT_NOBUFF"
PF_NODE_DEF="-DAMPS_BYTE_SWAP -DAMPS_UNISTD"


#=============================================================================
#
# Tex
#
#=============================================================================
export TEXINPUTS=:$PARFLOW_SRC/docs/lib//








