#!/bin/sh
#BHEADER***********************************************************************
# (c) 1995   The Regents of the University of California
#
# See the file COPYRIGHT_and_DISCLAIMER for a complete copyright
# notice, contact person, and disclaimer.
#
# $Revision: 1.1.1.1 $
#EHEADER***********************************************************************

#=============================================================================
#
# Configuration file for Linux systems
#
#=============================================================================

PFTOOLS_INCLUDE="-I/usr/casc/eciton/tcl/tcl8.4.19/include -I/usr/casc/eciton/tcl/tk8.4.19/include -I/usr/X11R6/include/"

# Need to link to the tk/tcl libs
# tk/tcl libs need X11 and dynamic link stuff in dl
#
PFTOOLS_SHLIB_LD="ld -shared"
PFTOOLS_LIBS="-lc -lm -L/usr/casc/eciton/tcl/tcl8.4.19/lib -ltcl8.4 -L/usr/X11R6/lib -lX11 -ldl"
PFTOOLS_DEF=" -DAMPS_SPLIT_FFILE -DTOOLS_BYTE_SWAP -DAMPS_PRINT_HOSTNAME"

#=============================================================================
#
# ParFlow
#
#=============================================================================
#
# MPICH: 
#     Make sure mpich is the mpi in your path
#

export MPIHOME=/nfs/apps/mpich/1.2.7p1

#PF_NODE_CC="$MPIHOME/bin/mpicc"
#PF_NODE_LINK="$MPIHOME/bin/mpicc"
#PF_NODE_F77="$MPIHOME/bin/mpif77"

export SUNDIALS_LIBS="-lsundials_kinsol"

PF_NODE_CC="gcc"
PF_NODE_LINK="gcc"
PF_NODE_F77="gfortran"

PF_NODE_DEF="-DAMPS_BYTE_SWAP -DAMPS_MPICH -DAMPS_SPLIT_FFILE -DAMPS_MPI_SETHOME -I$MPIHOME/include -DAMPS_PRINT_HOSTNAME"

PF_NODE_LIBS="-L$MPIHOME/lib -lmpich -lgfortran"


#=============================================================================
#
# Tex
#
#=============================================================================
export TEXINPUTS=:/home/smithsg/parflow/parflow/src/docs/lib//






