#!/bin/sh
#BHEADER***********************************************************************
# (c) 1995   The Regents of the University of California
#
# See the file COPYRIGHT_and_DISCLAIMER for a complete copyright
# notice, contact person, and disclaimer.
#
# $Revision: 1.1.1.1 $
#EHEADER***********************************************************************

#=============================================================================
#
# Configuration file for Sun Solaris systems
#
#=============================================================================

PFTOOLS_INCLUDE="-I/home/casc/include"
PFTOOLS_LIBS="-L/usr/openwin/lib -L/home/casc/lib -lX11 -lm -lnsl -lsocket -ldl"
PFTOOLS_DEF="-I/usr/openwin/include -DAMPS_SPLIT_FFILE"
PFTOOLS_SHLIB_CFLAGS="-KPIC"
PFTOOLS_SHLIB_LD="ld -G -z text"

#=============================================================================
#
# AVS
#
#=============================================================================

PFAVS_PATH=$AVS_PATH

#=============================================================================
#
# Express
#
#=============================================================================

PFEXPRESS_VXP="express -compile -project . -exit -none"


#=============================================================================
#
# ParFlow
#
#=============================================================================

#
# Do old style including of debugging statements for better gdb support
#
PF_NODE_DEBUG="-g -DAMPS_STDOUT_NOBUFF"
PF_NODE_F77_DEBUG="-xs -g"

#
# Determine if we are running on MPICH or LAM
#
if [ "`mpirun 2> /dev/null`" = "Missing: program name" ] 
then
    #
    # MPICH
    #
    # MPICH mpicc is broke 
    #
    # PF_NODE_CC="mpicc"
    #PF_NODE_F77="mpif77"

    PF_NODE_CC="gcc"
    PF_NODE_LINK="cc"

    PF_NODE_DEF="-DAMPS_UNISTD -Wall -DAMPS_MPICH -DAMPS_SPLIT_FFILE -DAMPS_MPI_SETHOME -I/usr/local/mpi/mpich/include -DAMPS_PRINT_HOSTNAME -DCEGDB -I/home/casc/include"
    PF_NODE_LIBS="-L/opt/SUNWspro/lib -L/usr/local/mpi/mpich/lib/solaris/ch_p4 -lnsl -lsocket -lmpi -lm -lF77 -lsunmath -L/home/casc/lib -lcegdb"

else
    #
    # LAM
    #
    PF_NODE_CC="hcc"
    PF_NODE_LINK="hcc"
    PF_NODE_F77="hf77"

    PF_NODE_DEF="-DAMPS_LAM -DAMPS_SPLIT_FFILE -DAMPS_PRINT_HOSTNAME -DCEGDB -I/home/casc/include"
    PF_NODE_LIBS="-lmpi -L/opt/SUNWspro/lib -lF77 -lm -lsunmath -L/home/casc/lib -lcegdb"
fi

PF_NODE_DEF="$PF_NODE_DEF -I/home/ssmith/local/include -DVMFL -DAMPS_VMALLOC"
PF_NODE_LIBS="$PF_NODE_LIBS -L/home/ssmith/local/lib -lvmalloc"







