#!/bin/sh
#BHEADER***********************************************************************
# (c) 1995   The Regents of the University of California
#
# See the file COPYRIGHT_and_DISCLAIMER for a complete copyright
# notice, contact person, and disclaimer.
#
# $Revision: 1.1.1.1 $
#EHEADER***********************************************************************

#=============================================================================
#
# Configuration file for Sun Solaris systems
#
#=============================================================================

PFTOOLS_INCLUDE="-I/usr/local/include"

PFTOOLS_LIBS="-L/usr/openwin/lib -L/usr/local/lib -ltk4.2 -ltcl7.6 -lX11 -lm -lnsl -lsocket -ldl"

#PFTOOLS_DEF="-DPF_HAVE_HDF"

PFTOOLS_DEF="-I/usr/openwin/include -DAMPS_SPLIT_FFILE"

#=============================================================================
#
# AVS
#
#=============================================================================

PFAVS_PATH=$AVS_PATH

#=============================================================================
#
# Express
#
#=============================================================================

PFEXPRESS_VXP="/usr/local/express/bin/s2/vxp -compile -project . -exit -none"
PFEXPRESS_PATH=$XP_PATH


#=============================================================================
#
# ParFlow
#
#=============================================================================

#
# Do old style including of debugging statements for better gdb support
#
PF_NODE_DEBUG="-g -DAMPS_STDOUT_NOBUFF"
PF_NODE_F77_DEBUG="-xs -g"

PF_NODE_CC="gcc"
PF_NODE_LINK="cc"

PF_NODE_DEF="-DAMPS_UNISTD -Wall -I/home/casc/include"
PF_NODE_LIBS="-L/opt/SUNWspro/lib -lm -lF77 -lsunmath -L/home/casc/lib -lcegdb"

if [ -n "$MALLOC_DEBUG" ] 
then
    PF_NODE_DEF="$PF_NODE_DEF -DAMPS_MALLOC_DEBUG -I/home/casc/include"
    PF_NODE_LIBS="$PF_NODE_LIBS -DAMPS_MALLOC_DEBUG -lmalloc"
fi







