#!/bin/sh
#BHEADER***********************************************************************
# (c) 1995   The Regents of the University of California
#
# See the file COPYRIGHT_and_DISCLAIMER for a complete copyright
# notice, contact person, and disclaimer.
#
# $Revision: 1.1.1.1 $
#EHEADER***********************************************************************

#=============================================================================
#
# Configuration file for IBM SP2 systems
#
#=============================================================================

PFTOOLS_INCLUDE="-I/usr/local/include -I/g/g16/smithsg/local.AIX/include"
PFTOOLS_LIBS=" -L/g/g16/smithsg/local.AIX/lib -ltcl8.0 -lld  -lm -lbsd -lc"
PFTOOLS_DEF="-DAMPS_SPLIT_FFILE"

PFTOOLS_SHLIB_LD="/g/g16/smithsg/local.AIX/lib/tcl8.0/ldAix /bin/ld -bhalt:4 -bM:SRE -bE:lib.exp -H512 -T512 -bnoentry"
PFTOOLS_SHLIB_LIBS="-L/g/g16/smithsg/local.AIX/lib -ltcl8.0 -lld  -lm -lbsd -lc"

#=============================================================================
#
# AVS
#
#=============================================================================

PFAVS_PATH=$AVS_PATH

#=============================================================================
#
# ParFlow
#
#=============================================================================

PF_NODE_CC="mpCC"
PF_NODE_F77="mpxlf"
PF_NODE_LINK="mpCC"

PF_NODE_F77_DEF="-qextname -I/usr/local/apps/mpich-1.1/include"

PF_NODE_DEBUG="-g -DAMPS_STDOUT_NOBUFF -DCEGDB -I/g/g16/smithsg/local.AIX/include"

PF_NODE_OPT="-O"
PF_NODE_F77_OPT="-O"
PF_NODE_F77_TIMING=""

#
# NOT_USE_PERSISTENT is bad for large numbers of nodes, resource allocation
# problem?
#
#PF_NODE_DEF="-DAMPS_MPI_NOT_USE_PERSISTENT -qlanglvl=ansi -DAMPS_UNISTD -DAMPS_SPLIT_FFILE -DFORTRANNOUNDERSCORE"

PF_NODE_DEF="-qlanglvl=ansi -DAMPS_UNISTD -DAMPS_SPLIT_FFILE -DFORTRANNOUNDERSCORE"

PF_NODE_LIBS="-lm -L/g/g16/smithsg/local.AIX/lib -lcegdb"

#
# If Malloc debug and Debugging then link to the malloc debug library
#
if [ -n "$DMALLOC_OPTIONS" ] 
then
    PF_NODE_DEBUG="$PF_NODE_DEBUG -DAMPS_MALLOC_DEBUG -I/g/g16/smithsg/local.AIX/include"
    PF_NODE_LIBS="$PF_NODE_LIBS -DAMPS_MALLOC_DEBUG  -ldmalloc"
fi






