#!/bin/sh
#BHEADER***********************************************************************
# (c) 1995   The Regents of the University of California
#
# See the file COPYRIGHT_and_DISCLAIMER for a complete copyright
# notice, contact person, and disclaimer.
#
# $Revision: 1.1.1.1 $
#EHEADER***********************************************************************

#=============================================================================
#
# Configuration file for Sun SunOS systems
#
#=============================================================================

PFTOOLS_INCLUDE="-I/usr/local/include"
PFTOOLS_LIBS="-L/usr/local/lib -lnetcdf -ldf  -ldf -ltk41 -ltcl75 -lX11 -ldf -ltk41 -ltcl75 -lX11 -lm"
PFTOOLS_DEF="-DAMPS_SPLIT_FFILE -DSUN -DPF_HAVE_HDF"
PFTOOLS_CC="gcc"

export PFTOOLS_INCLUDE PFTOOLS_LIBS PFTOOLS_DEF

#=============================================================================
#
# AVS
#
#=============================================================================

PFAVS_CC="acc"
PFAVS_PATH=$AVS_PATH
PFAVS_IMAGE_TOOLS_INCLUDE_PATH="-I/usr/local/include"
PFAVS_IMAGE_TOOLS_LIB_PATH="-L/usr/local/lib"

#=============================================================================
#
# ParFlow
#
#=============================================================================

#
# If the user is using Malloc debug then link to it.
#

PF_NODE_CC="gcc"
PF_NODE_DEF="-I/usr/local/include -DAMPS_PRINT_HOSTNAME"
PF_NODE_LINK="gcc"
PF_NODE_LINK_OPT="-L/usr/local/lib"

PF_HOST_CC="gcc"
PF_HOST_LINK="gcc"
PF_HOST_LINK_DEF="-L/usr/local/lib"


if [ -z "$MALLOC_DEBUG" ]
then
	PF_NODE_DEF=""
	PF_NODE_LIBS="-L/usr/lang/SC2.0.1 -lansi /usr/lang/SC2.0.1/values-Xs.o"
else
	PF_NODE_DEF="$PF_NODE_DEF -DAMPS_MALLOC_DEBUG"
	PF_NODE_LIBS=" -L/usr/lang/SC2.0.1 -lansi /usr/lang/SC2.0.1/values-Xs.o -L/usr/local/lib/ -lgmalloc"
fi

