#!/bin/sh
#BHEADER***********************************************************************
# (c) 1995   The Regents of the University of California
#
# See the file COPYRIGHT_and_DISCLAIMER for a complete copyright
# notice, contact person, and disclaimer.
#
# $Revision: 1.1.1.1 $
#EHEADER***********************************************************************

#=============================================================================
#
# Configuration file for CRAY T3D systems
#
#=============================================================================

PFTOOLS_INCLUDE=""
PFTOOLS_LIBS="-L/u/parflow/smithsg/local/lib/ -ltk4.1 -ltcl7.5 -lX11 -lm"
PFTOOLS_DEF="-DTOOLS_CRAY"

#=============================================================================
#
# ParFlow
#
#=============================================================================

PF_MAKE=gmake

PF_NODE_CC="/opt/ctl/bin/cc"
PF_NODE_F77="/opt/ctl/bin/cf77"
PF_NODE_F77_OPT="-O 1"
PF_NODE_LINK="/opt/ctl/bin/mppldr -L/mpp/lib"

# If you want to use apprentice add 
# -happrentice
PF_NODE_DEF=""

PF_NODE_LINK_OPT="-L/usr/local/lib"


