#!/bin/sh
#BHEADER***********************************************************************
# (c) 1995   The Regents of the University of California
#
# See the file COPYRIGHT_and_DISCLAIMER for a complete copyright
# notice, contact person, and disclaimer.
#
# $Revision: 1.1.1.1 $
#EHEADER***********************************************************************

echo "Configuring for T3D with MPI1"

#=============================================================================
#
# Configuration file for CRAY T3D systems
#
#=============================================================================

PFTOOLS_INCLUDE=""
PFTOOLS_LIBS="-L/u/parflow/smithsg/local/lib/ -ltk4.1 -ltcl7.5 -lX11 -lm"
PFTOOLS_DEF="-DTOOLS_CRAY"

#=============================================================================
#
# ParFlow
#
#=============================================================================

MPIR_HOME=/usr/local/mpich.1.1
export MPIR_HOME

PF_MAKE=gmake

PF_NODE_CC="/opt/ctl/bin/cc"

# If you want to use apprentice add 
# -happrentice
PF_NODE_DEF="-I$MPIR_HOME/include"

PF_NODE_F77="/opt/ctl/bin/cf77"
PF_NODE_F77_OPT="-O 1"
PF_NODE_LINK="/opt/ctl/bin/mppldr -L$MPIR_HOME/lib/cray_t3d/t3d"


PF_NODE_LINK_OPT="-L/usr/local/lib"


