#!/bin/sh
#BHEADER***********************************************************************
# (c) 1995   The Regents of the University of California
#
# See the file COPYRIGHT_and_DISCLAIMER for a complete copyright
# notice, contact person, and disclaimer.
#
# $Revision: 1.1.1.1 $
#EHEADER***********************************************************************

#=============================================================================
#
# Configuration file for CRAY T3D systems
#
#=============================================================================

PFTOOLS_INCLUDE="-I/u/smithsg/local/include"
PFTOOLS_LIBS="-L/u/smithsg/local/lib/ -ltk4.2 -ltcl7.6 -lX11 -lm"
PFTOOLS_DEF="-DTOOLS_INTS_ARE_64 -DAMPS_SPLIT_FFILE"

#=============================================================================
#
# ParFlow
#
#=============================================================================

PF_MAKE=gmake

PF_NODE_OPT="-O 3"

PF_NODE_F77="f90"
PF_NODE_F77_OPT="-O 3"

# If you want to use apprentice add 
# -happrentice
PF_NODE_DEF="-X m -DAMPS_SPLIT_FFILE"

PF_NODE_LINK_OPT="-L/usr/local/lib"

