#!/bin/sh
#BHEADER***********************************************************************
# (c) 1995   The Regents of the University of California
#
# See the file COPYRIGHT_and_DISCLAIMER for a complete copyright
# notice, contact person, and disclaimer.
#
# $Revision: 1.1.1.1 $
#EHEADER***********************************************************************

#=============================================================================
#
# Configuration file for Irix systems
#
#=============================================================================

PFTOOLS_INCLUDE="-I/usr/local/include"
PFTOOLS_LIBS="-lm -lnetcdf -ldf"
PFTOOLS_DEF="-DPF_HAVE_HDF"

#=============================================================================
#
# AVS
#
#=============================================================================

PFAVS_PATH=$AVS_PATH
PFAVS_IMAGE_TOOLS_INCLUDE_PATH="-I/usr/local/include"
PFAVS_IMAGE_TOOLS_LIB_PATH="-L/usr/local/lib"

#=============================================================================
#
# Explorer
#
#=============================================================================

PFEXP_CXMKMF="cxmkmf"
PFEXP_EXPLORERHOME="$EXPLORERHOME"

#=============================================================================
#
# ParFlow
#
#=============================================================================

#
# If the user is using Malloc debug then link to it.
#

PF_NODE_CC="echo"
if [ -z "$MALLOC_DEBUG" ]
then
	PF_NODE_DEF=""
	PF_NODE_LIBS="-lm -lmpc -LF77 -lfpe"
else
	PF_NODE_DEF="-I/usr/local/include -DAMPS_MALLOC_DEBUG"
	PF_NODE_LIBS="-lm -lmpc -LF77 -lfpe -L/usr/local/lib/ -lgmalloc"
fi
