*.csv
*.out.*
*.output.*
*.pfidb
*.pfb.dist
*_output.*
*.dat.[0-9]*

new_features/clm/IndicatorFile_Gleeson.50z.pfb
new_features/clm/LW.slopex.pfb
new_features/clm/LW.slopey.pfb
new_features/clm/NLDAS.APCP.000001_to_000024.pfb
new_features/clm/NLDAS.DLWR.000001_to_000024.pfb
new_features/clm/NLDAS.DSWR.000001_to_000024.pfb
new_features/clm/NLDAS.Press.000001_to_000024.pfb
new_features/clm/NLDAS.SPFH.000001_to_000024.pfb
new_features/clm/NLDAS.Temp.000001_to_000024.pfb
new_features/clm/NLDAS.UGRD.000001_to_000024.pfb
new_features/clm/NLDAS.VGRD.000001_to_000024.pfb
new_features/clm/clm_out.txt.0
new_features/clm/drv_clmin.dat
new_features/clm/drv_vegm.alluv.dat
new_features/clm/drv_vegp.dat
new_features/clm/press.init.pfb
new_features/clm/washita_clm_croplands_landfrac.pfb
new_features/clm/washita_clm_forest_dn_landfrac.pfb
new_features/clm/washita_clm_grasslands_landfrac.pfb
new_features/clm/washita_clm_savannas_landfrac.pfb
new_features/drv_vegm.dat
new_features/forest_eb_mat.pfb
new_features/inline_input.txt
new_features/sabino_domain.pfsol
new_features/sabino_domain.vtk
new_features/sabino_mask_written.sa
stats4.txt
washita/LW_Test.yaml

dconf
test_output